<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>trusties</title>
</head>
<body>
  <%= render "layouts/Vnavbar" %>
  <section class="bg-blue-900">
    <div class="mx-auto grid max-w-lg gap-x-8 gap-y-12 px-4 py-28 md:max-w-screen-xl md:grid-cols-2 md:px-8 lg:grid-cols-3">
      <div>
        <h2 class="xl:text-5xl text-4xl font-medium text-white text-center">
          Our Trusties
        </h2>
      </div>
    </div>
  </section>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">Our Trusties</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">As stewards of our institution's mission and vision, your dedication and guidance are invaluable assets in steering us toward our shared goals. Your commitment to excellence and integrity inspires us all, ensuring that our organization remains steadfast in its pursuit of excellence. With your leadership, we are empowered to navigate challenges and seize opportunities, driving our institution forward with confidence and purpose. Thank you for your unwavering support and unwavering commitment to our collective success.</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 lg:w-1/2">
          <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/200x200">
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-medium text-lg text-gray-900">Mr. Akash Verma</h2>
              <h3 class="text-gray-500 mb-3">Architect</h3>
              <p class="mb-4"> Mr. Akash Verma is a visionary architect known for his innovative designs and commitment to creating spaces that inspire and uplift.</p>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/2">
          <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/201x201">
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-medium text-lg text-gray-900">Dr. Vivek Joshi</h2>
              <h3 class="text-gray-500 mb-3">Scientist</h3>
              <p class="mb-4">Dr. Vivek Joshi is a visionary scientist dedicated to pushing the boundaries of knowledge and making groundbreaking discoveries in his field.</p>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/2">
          <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/204x204">
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-medium text-lg text-gray-900">Mr. Rohan Patel</h2>
              <h3 class="text-gray-500 mb-3">Engineer</h3>
              <p class="mb-4">Mr. Rohan Patel is a highly skilled engineer known for his innovative solutions and attention to detail in every project he undertakes.</p>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/2">
          <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/206x206">
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-medium text-lg text-gray-900">Mrs. Anjali Desai</h2>
              <h3 class="text-gray-500 mb-3">Teacher</h3>
              <p class="mb-4">Mrs. Anjali Desai is a passionate educator who believes in empowering her students through knowledge and encouragement.</p>
             
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/2">
          <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/204x204">
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-medium text-lg text-gray-900">Mr. Sanjay Sharma</h2>
              <h3 class="text-gray-500 mb-3">Lawyer</h3>
              <p class="mb-4"> Mr. Sanjay Sharma is a skilled attorney known for his expertise in navigating complex legal issues and fighting for justice.</p>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/2">
          <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/204x204">
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-medium text-lg text-gray-900">Ms. Priya Singh</h2>
              <h3 class="text-gray-500 mb-3">Politician</h3>
              <p class="mb-4">Ms. Priya Singh is a dynamic leader with a passion for serving her community and advocating for positive change.</p>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/2">
          <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/204x204">
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-medium text-lg text-gray-900">Dr. Rajesh Kumar </h2>
              <h3 class="text-gray-500 mb-3">Doctor</h3>
              <p class="mb-4">Dr. Rajesh Kumar is a dedicated medical professional committed to providing compassionate care to his patients.</p>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/2">
          <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/204x204">
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-medium text-lg text-gray-900">Atticus Finch</h2>
              <h3 class="text-gray-500 mb-3">Mr. Arjun Singh</h3>
              <p class="mb-4">Mr. Arjun Singh is a seasoned software engineer renowned for his exceptional coding skills and innovative problem-solving abilities. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render "layouts/Vfooter" %>
</body>
</html>