<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
<<<<<<< HEAD
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
=======
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
>>>>>>> 619fbaf1af67af1e60365c9f190a873b6d7a3d5b
=======
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
>>>>>>> f60aefb84e6a000dbe20e59d041d0ef76f9ddbe4
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
